<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6vR6olT3sv9glxSbTF3ygwraWkAPS3y4</string>
	<key>GCM_SENDER_ID</key>
	<string>266270683626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RealWorldReduxSagaExample</string>
	<key>PROJECT_ID</key>
	<string>redux-saga-example-a02d7</string>
	<key>STORAGE_BUCKET</key>
	<string>redux-saga-example-a02d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266270683626:ios:22ee41cb05d6ab34f84293</string>
</dict>
</plist>